.btn {
    background-color: $texto;
    color: $primarioOscuro;
    padding: 15px 60px;
    text-decoration: none;
    align-self: center;
    border-radius: 10px;
    display: inline-block;
    margin-top: 10px;
    width: auto;
    font-size: 12pt;
    transition: color 0.7s, padding 0.5s, text-transform 0.7s;
    // text-transform: uppercase;
}