.btn {
    background-color: var(--texto);
    color: var(--primarioOscuro);
    padding: 10px 20px;
    text-decoration: none;
    align-self: center;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    width: auto;
    font-size: 12pt;
    transition: all 0.5s;
}