//Main div
.error-container {
    background-color: $primario;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    max-width: 70vw;
    height:80vh;
    padding: 20px;
    transition: all 1s;

    img {
        width: 50%;
        height: auto;
        border-radius: 10px;
    }
}

//Text

.error-text {
    display: flex;
    flex-direction: column;
    padding: 0 5vw;
    transition: all 1s;
    width: 50%;

    h1 {
        color: $texto;
        font-size: 2em;
        margin: 0;
        transition: all 1s;
    }

    h3{
        color: $secundarioClaro;
        margin: 0;
        padding: 0;
        line-height: 5;
        transition: all 1s;
    }

    p {
        color: $secundario;
    }
}

.box-shadow{
    box-shadow: rgba(242, 68, 132, 0.4) 5px 5px, 
    rgba(242, 68, 132, 0.3) 10px 10px, 
    rgba(242, 68, 132, 0.2) 15px 15px, 
    rgba(242, 68, 132, 0.1) 20px 20px, 
    rgba(242, 68, 132, 0.05) 25px 25px;
}