$primario: #0F1C54;
$primarioOscuro: #010326;
$secundario: #419BBF;
$secundarioClaro: #4EBFD9;
$texto: rgb(242, 68, 132);
$btn-hover: hsl(338, 100%, 50%);

$fuentePrincipal: 'Electrolize', sans-serif;;