$primario: #0F1C54;
$primarioOscuro: #010326;
$secundario: #419BBF;
$secundarioClaro: #4EBFD9;
$texto: rgb(242, 68, 132);
$btn-hover: rgb(255, 0, 93);

$fuentePrincipal: 'Electrolize', sans-serif;